

<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Lorem</h1>
            <ul class="mdl-mega-footer--link-list">
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Lorem</h1>
            <ul class="mdl-mega-footer--link-list">
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Lorem</h1>
            <ul class="mdl-mega-footer--link-list">
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Lorem</h1>
            <ul class="mdl-mega-footer--link-list">
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum</a>
                </li>
                <li>
                    <a href="#">Ipsum us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
            More Information
        </div>
        <ul class="mdl-mega-footer--link-list">
            <li>
                <a href="https://developers.google.com/web/starter-kit/">Contact Us</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            <li>
                <a href="#">Privacy and Terms</a>
            </li>
        </ul>
    </div>
</footer>
