<% provide(:title, 'Pre-Survey') %>
<div class="mdl-layout__jumbo mdl-layout__survey mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout__header-row">
        <h1>Sex+ Survey</h1>
    </div>
    <div class="mdl-layout__header-row">
        Discover and share sexual interests with your partner! Customize the survey to be as kinky or as granular as you want. But first, let us know some information so we can personalize your survey!
    </div>
    <div class="mdl-layout__header-row">
    </div>
    <div class="mdl-layout__header-row">
    </div>
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
    <section class="section--center mdl-grid">
       <div class="mdl-card mdl-card--fixed-height-title mdl-cell mdl-cell--6-col mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand mdl-card__title--image mdl-card__title--yours">
            <h2 class="mdl-card__title-text">You</h2>
          </div>
          <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--card">
                <input class="mdl-textfield__input" type="text" id="your__name">
                <label class="mdl-textfield__label" for="your__name">George O'keefe</label>
              </div>
            <br />I have a...
            <div class="mdl-card__form">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="your__penis">
                  <input type="radio" id="your__penis" class="mdl-radio__button" name="your__genitals" value="penis">
                  <span class="mdl-radio__label">Penis</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="your__vagina">
                  <input type="radio" id="your__vagina" class="mdl-radio__button" name="your__genitals" value="vagina">
                  <span class="mdl-radio__label">Vagina</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="your__other">
                  <input type="radio" id="your__other" class="mdl-radio__button" name="your__genitals" value="other">
                  <span class="mdl-radio__label">Other</span>
                </label>
            </div>
          </div>
        </div>

       <div class="mdl-card mdl-card--fixed-height-title mdl-cell mdl-cell--6-col mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand mdl-card__title--image mdl-card__title--theirs">
            <h2 class="mdl-card__title-text">Them</h2>
          </div>
          <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--card">
                <input class="mdl-textfield__input" type="text" id="their__name">
                <label class="mdl-textfield__label" for="their__name">Virginia Wolf</label>
              </div>
            <br />They have a...
            <div class="mdl-card__form">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="their__penis">
                  <input type="radio" id="their__penis" class="mdl-radio__button" name="their__genitals" value="penis">
                  <span class="mdl-radio__label">Penis</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="their__vagina">
                  <input type="radio" id="their__vagina" class="mdl-radio__button" name="their__genitals" value="vagina">
                  <span class="mdl-radio__label">Vagina</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="their__other">
                  <input type="radio" id="their__other" class="mdl-radio__button" name="their__genitals" value="other">
                  <span class="mdl-radio__label">Other</span>
                </label>
            </div>
          </div>
        </div>

       <div class="mdl-card mdl-cell mdl-card--fixed-height-title mdl-cell--12-col  mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand mdl-card__title--image mdl-card__title--categories">
            <h2 class="mdl-card__title-text">Categories</h2>
          </div>
          <div class="mdl-card__supporting-text">
           Select which categories you would like to be included in your survey. For a full list of questions, see <a href="#">here</a>.
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="length">
              <input type="checkbox" id="length" name="categories" value="length" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Length & Frequency</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="basics">
              <input type="checkbox" id="basics" name="categories" value="basics" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Basics</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="toys">
              <input type="checkbox" id="toys" name="categories" value="toys" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Toys</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="bdsm">
              <input type="checkbox" id="bdsm" name="categories" value="bdsm" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">BDSM</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="anal">
              <input type="checkbox" id="anal" name="categories" value="anal" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Anal</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="group">
              <input type="checkbox" id="group" name="categories" value="group" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Group</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="fetishes">
              <input type="checkbox" id="fetishes" name="categories" value="fetishes" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Fetishes</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="granular">
              <input type="checkbox" id="granular" name="categories" value="granular" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">Granual Breakdown</span>
            </label>
            Break large items into subitems, e.g. "bondage" becomes "bondage with rope", "bondage with soft clothing items", etc.
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>
    </section>
