<% provide(:title, 'Survey Results') %>
<div class="mdl-layout__jumbo mdl-layout__survey mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
    <div class="mdl-layout__header-row">
        <h1>Sex+ Survey Results</h1>
    </div>
    <div class="mdl-layout__header-row">
        See how you and your partners' answers line up! Remember that fantasies that one of you answered "no" to will not show up.
    </div>
    <div class="mdl-layout__header-row"></div>
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>

<section class="section--center mdl-grid">
  <div class="mdl-card mdl-card--fixed-height-title mdl-cell mdl-cell--6-col mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand mdl-card__title--image mdl-card__title--yours">
      <h2 class="mdl-card__title-text">
        <%= @survey.user_pair.user1_name %>
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= "#{@survey.user_pair.user1_name} has a #{@survey.user_pair.user1_genitals}" %>
    </div>
  </div>

  <div class="mdl-card mdl-card--fixed-height-title mdl-cell mdl-cell--6-col mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand mdl-card__title--image mdl-card__title--theirs">
      <h2 class="mdl-card__title-text">
        <%= @survey.user_pair.user2_name %>
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= "#{@survey.user_pair.user2_name} has a #{@survey.user_pair.user2_genitals}" %>
    </div>
  </div>
</section>
