<header class="mdl-layout__header">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <nav class="mdl-navigation">
      <%= render 'shared/nav/left-items' %>
    </nav>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <%= render 'shared/nav/right-items' %>
    </nav>
  </div>
</header>
