$color-primary-dark: 0,0,0 !default;
$color-primary-dark-rgb: rgb(0,0,0);
@import 'material';
.mdl-card--flash {
  min-height: initial;
}
.mdl-slider__container {
  display: none;
}
.mdl-slider__container.show {
  display: flex;
}
.material-icons.fantasy-rating {
  font-size: 20px;
  color: unquote("rgb(#{$color-accent})");
}
.fantasy__label {
  color: unquote("rgb(#{$color-accent})");
  font-size: 16px;
}
.fantasy__name {
  color: #000;
  font-size: 16px;
}
.preference {
  color: unquote("rgb(#{$color-accent})");
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.mdl-layout__content {
  overflow-y: visible;
  overflow-x: visible;
}
.mdl-grid--no-margin {
  margin: 0px;
}
.mdl-cell--no-margin-top {
  margin-top: 0px;
}
.mdl-cell--no-margin-bottom {
  margin-bottom: 0px;
}
.mdl-card--image__link {
}
.mdl-card__title-subtext {
  @extend .mdl-card__title-text;
  font-size: 18px;
  margin-left: 1rem;
}
a.mdl-navigation__link {
  text-transform: uppercase;
  font-weight: 500;
}
a.mdl-navigation__link.is-active {
  opacity: 1.0;
  color: unquote("rgb(#{$color-accent})");
}
.mdl-layout__container {
  position: relative;
}
.mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.mdl-demo #features section.section--center {
  max-width: 620px;
}
.mdl-demo section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mdl-demo section > .section__play-btn {
  min-height: 200px;
}
.mdl-demo section > header > .material-icons {
  font-size: 3rem;
}
.mdl-demo section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
  text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.mdl-demo #features section {
  margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px;
}
.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl-demo .mdl-menu__container {
  z-index: 99;
}
.mdl-card--fixed-height-title .mdl-card__title {
  height: 176px!important;
}
.mdl-card--fixed-height-text .mdl-card__supporting-text {
  height: 100px!important;
}
.mdl-card--flash .mdl-card__title--image {
  background: url(image_path('pinkandblue2.png')) top right / cover;
}
.mdl-card__title--image {
  background: url(image_path('theredlist.png')) center / cover;
  color: #fff;
}
.mdl-layout__jumbo.mdl-layout__index {
    color: #fff;
    background: url(image_path('theredlist.png')) center / cover;
}
.mdl-layout__jumbo.mdl-layout__survey {
    color: #fff;
    background: url(image_path('theredlist.png')) center / cover;
}
.mdl-card__form {
    display: block;
    font-size: 1rem;
}

.mdl-card__form .mdl-radio__label {
    font-size: 1rem;
}

.mdl-card__form .mdl-radio {
    margin-right: 2rem;
}
.mdl-textfield--card .mdl-textfield__input {
    font-size: 1rem;
}
.mdl-card__title--yours {
    background: url(http://www.georgiaokeeffe.net/images/paintings/music-pink-and-blue-ii.jpg) center / cover;
}
.mdl-card__title--theirs {
    background: url(http://theredlist.com/media/database/fine_arts/arthistory/painting/realism_figurative_painting/georgia-o-keefe/017-georgia-o-keefe-theredlist.jpg) center / cover;
}
.mdl-card__title--categories {
    background: url(http://www.metmuseum.org/toah/images/hb/hb_59.204.1.jpg) center / cover;
}
.mdl-card__title--survey {
    background: url(image_path('orientalpoppies.png')) center / cover;
}
.mdl-card__title--compendium {
    background: url(image_path('blueflower.png')) center / cover;
}
.mdl-card__title--articles {
    background: url(image_path('hill.png')) center / cover;
}
.mdl-layout__drawer-button {
  background-color: $color-primary-dark-rgb;
}
